@charset "utf-8";
/* CSS Document */

Body{
	background: beige;
	padding:100px 10% 0 10%;
	
}
table, th, td {
  border:2px solid #B03623;
	padding: 10px 0 10px 0;
  font-size:25pt;
  color: #D97213;
  text-align: center;
  font-family: "vendetta", serif;
  font-weight:250;
}

h1{
	text-align: center;
	font-size:35pt;
	color:#D97213;
	font-family: bely-display, sans-serif;
	font-weight:400;
	margin-bottom: 70px;
}